<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/dashboardstyles.css">
  </head>
<body>
<div class="dashboard-body">
  <nav class="navbar">
    <div class="container">
        <h2 class="nav-brand">Dashboard</h2>
        <% if(dashboardMessage){ %>
            <p class="nav-item success-message"><%= dashboardMessage %></p>
      <%  }else if(failureDashboardMessage){ %>
        <p class="nav-item failure-message"><%= failureDashboardMessage %></p>
  <% } %>
    </div>
  </nav>
  <div class="container">
      <div class="row">
        <div class="col-sm">
        <a href="/newCase">
          <div class="card">
            <div class="card-body">
               <h4 class="card-title">New Case</h4>
            </div>
          </div>
        </a>
        </div>
          <div class="col-sm">
          <a href="/newSuspectForm">
            <div class="card">
              <div class="card-body">
                 <h4 class="card-title">New Suspect</h4>
              </div>
            </div>
          </a>
          </div>
          <div class="col-sm">
          <a href="/newCriminalForm">
            <div class="card">
              <div class="card-body">
                 <h4 class="card-title">New Criminal</h4>
              </div>
            </div>
          </a>
          </div>
          <div class="col-sm">
          <a href="/criminals">
            <div class="card">
              <div class="card-body">
                 <h4 class="card-title">View all Criminals</h4>
              </div>
            </div>
          </a>
          </div>
      </div>
      <div class="log-out">
        <form action="/dashboard" method="post">
              <button class="btn btn-danger" type="submit" name="logout">Logout</button>
        </form>
      </div>
  </div>
</div>
</body>
</html>
