.background-image{
  margin-top: 2%;
  height: 100vh;
  background-image: url("/faint.png");
  background-repeat: no-repeat;
  background-position:top;
}

.home-body{
  text-align: center;
  padding-top: 15%;
}

.successMessage{
  color: green;
}

h2{
  display: none;
}

.sick{
  display: none;
}

.dark-text{
  color: #576574;
  /* color: #353b48; */
  /* color: #7f8c8d; */
}

.buttons{
  display: inline;
}

.heading{
  margin-bottom: 2%;
}
