body{
  /* text-align: center; */
  background-color: #F5F5F5;
}

.card{
  margin: auto;
  margin-top: 10%;
  width: 30%;
  border: none;
  background-color: #F5F5F5;
}

.invalid-credential{
    color: red;
}

.fname-lname-field{
  display: flex;
}

.login-div{
  margin-top: 3%;
  text-align: center;
}

.login-message{
  font-size: 0.8rem;
}

.signup-button{
  margin-top: 10%;
  text-align: center;
}
