.navbar{
  padding-top: 2%;
  background-color: #ecf0f1;
  color: #7f8c8d;
}

.case-body{
  margin-top: 4%;
}

.title{
  color: #636e72;
}

.content{
  color: #95a5a6;
}

.wOt-victim-witness-gap{
  width: 25px;
}

.victim-witness-box{
    display: flex;
}

.submit-button{
  text-align: center;
  margin-top: 30px;
}

button{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.failure-message{
  color: red;
}

.view-button{
  text-align: center;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.card-body{
    background-color: #f5f6fa;
}
